/ADO.NET - Part 11 - Playing with MySQL in C#/MySQLPracSol/packages
/ADO.NET - Part 11 - Playing with MySQL in C#/MySQLPracSol/MySqlPrac/obj
/ADO.NET - Part 11 - Playing with MySQL in C#/MySQLPracSol/MySqlPrac/bin
