/ADO.NET - Part 11 - Playing with MySQL in C#/MySQLPracSol/packages
/ADO.NET - Part 11 - Playing with MySQL in C#/MySQLPracSol/MySqlPrac/obj
/ADO.NET - Part 11 - Playing with MySQL in C#/MySQLPracSol/MySqlPrac/bin
/ADO.NET - Part 1 - 9/ADONetPractice/*.suo
/ADO.NET - Part 1 - 9/ADONetPractice/ADONetPractice/obj
/ADO.NET - Part 1 - 9/ADONetPractice/ADONetPractice/bin
/ADO.NET - Part 1 - 9/ADONetPractice/TransactionPrac/bin
/ADO.NET - Part 1 - 9/ADONetPractice/TransactionPrac/obj
/ADO.NET - Part 10 - Local DB Practice/LocalDBPracInVS/obj
/ADO.NET - Part 10 - Local DB Practice/LocalDBPracInVS/bin
/ADO.NET - Part 11 - Playing with MySQL in C#/MySQLPracSol/.vs
